.card {
  background: #f5f5f5;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}


@media (max-width: 768px) {
  .modal {
    max-width: 90%;
  }

  .modal-box {
    flex-direction: column;
  }

  .modal-image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
